<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Economic Comparison: Mexico vs. Sweden</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Economic Comparison</h1>
            <p>Comparing key economic indicators between Mexico and Sweden</p>
        </header>

        <main>
            <section>
                <table>
                    <thead>
                        <tr>
                            <th>Indicator</th>
                            <th>Mexico</th>
                            <th>Sweden</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Consumer Spending</td>
                            <td>{{ mexico_data['Consumer Spending'] }}</td>
                            <td>{{ sweden_data['Consumer Spending'] }}</td>
                        </tr>
                        <tr>
                            <td>Inflation Rate MOM</td>
                            <td>{{ mexico_data['Inflation Rate MOM'] }}%</td>
                            <td>{{ sweden_data['Inflation Rate MOM'] }}%</td>
                        </tr>
                        <tr>
                            <td> Military Expenditure</td>
                            <td>{{ mexico_data['Military Expenditure'] }}</td>
                            <td>{{ sweden_data['Military Expenditure'] }}</td>
                        </tr>
                        <tr>
                            <td> Long Term Unemployment Rate  </td>
                            <td>{{ mexico_data['Long Term Unemployment Rate'] }}%</td>
                            <td>{{ sweden_data['Long Term Unemployment Rate'] }}%</td>
                        </tr>
                        <tr>
                            <td>Retirement Age Men</td>
                            <td>{{ mexico_data['Retirement Age Men'] }}</td>
                            <td>{{ sweden_data['Retirement Age Men'] }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section class="mt-8 text-center">
                <a href="#" class="btn">Compare More Indicators</a>
            </section>
        </main>

        <footer>
            <p>&copy; 2024 Economic Comparison from Trading Economics. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>
